# MongoDB
# Replace <db_password> with your actual MongoDB password
DATABASE_URI=mongodb+srv://shruvparmar_db_user:yZQeM4HB1N0ExbHq@cluster0.rlzsikz.mongodb.net/?appName=Cluster0

# JWT Secret - change to something secure in production
SECRET_KEY=8gRAgMaOXDgessFWWBdVM4IDxso2FshNCkK5EYgvAEQ=

# Sanity
SANITY_PROJECT_ID=9jvbp9bd
SANITY_DATASET=production
SANITY_TOKEN=sknZaMGpwohwXd1YCpIIiEl9G7fRUAc1dhJ9lTng30b0EAf8Ck3vhjprh9cjLLOm6Aulngts808GcdAMtncgpRGz5cBSnRY8ecx0Kz6914BLI0pLKfdtearPeahBNp84vyjNm1N6tJrSnZ9eJFpsOjPlbsBT25xs26TzPrGfjuaHXm0rHG8Y
